<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true">
    <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>
        <CustomLevel name="REJECTED" intLevel="50" />
    </CustomLevels>
    <Appenders>
        <RollingFile name="MainLogFile" fileName="logs/adapter.log" filePattern="logs/adapter-%d{yyyy-MM-dd}-%i.log">
        <PatternLayout>

            <pattern>%d{MM-dd-yyyy HH:mm:ss,SSS}|%p|%C{1}|%m%n</pattern>

        </PatternLayout>
        <Policies>
            <SizeBasedTriggeringPolicy size="5 MB" />
        </Policies>
        <!-- max number of day to keep-->
            <DefaultRolloverStrategy max="30"/>
            <Filters>
                <!--Deny message logged under REJECTED log level-->
                <ThresholdFilter level="REJECTED"  onMatch="DENY"   onMismatch="NEUTRAL"/>
            </Filters>
    </RollingFile>
        <RollingFile name="Rejected" fileName="logs/rejected.log"
                     filePattern="logs/rejected-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{MM-dd-yyyy HH:mm:ss,SSS}|%p|%m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy max="180"/>
        </RollingFile>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="all">
            <!-- Only events at DIAG level or more specific are sent to the console. -->
            <AppenderRef ref="Rejected" level="REJECTED" />
            <AppenderRef ref="MainLogFile" level="all" />
            <AppenderRef ref="CONSOLE"/>
        </Root>

    </Loggers>
</Configuration>